<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/styles/home.css">
   <script src="https://kit.fontawesome.com/b781edffa7.js" crossorigin="anonymous"></script>
   <title>Home</title>
</head>
<body>
   <header>
      <img class="application-logo" src="/assets/imgs/logo.png" alt="">
      <nav class="navigation-bar" id="navigation-bar">
         <ul class="navigation-bar-list">
            <li><a href="index.html"><i class="fa-solid fa-house"></i><p>Home</p></a></li>
            <li><a href="index.html"><i class="fa-solid fa-user-group"></i><p>Network</p></a></li>
            <li><a href="index.html"><i class="fa-solid fa-magnifying-glass"></i><p>Jobs</p></a></li>
            <li><a href="index.html"><i class="fa-regular fa-comments"></i><p>Discussions</p></a></li>
            <li><a href="index.html"><i class="fa-solid fa-bell"></i><p>Notifications</p></a></li>
            <li><a href="index.html"><i class="fa-solid fa-user"></i><p>Personal Data</p></a></li>
            <li><a href="index.html"><i class="fa-solid fa-gear"></i><p>Settings</p></a></li>
         </ul>
      </nav>
      <div class="user-online-container">
         <img class="user-profile-image" src="<%= user.profile_image_url %>" width="200px" alt="">
      </div>
      <div class="expand-menu-container">
         <button onclick="toggleNavigationBar()">
            <i class="fa-solid fa-bars"></i>
         </button>
      </div>
   </header>
   <aside>
      <div class="profile-sidebar-container">
         <div class="user-banner-profile-img-title-container">
            <% if (user.banner_image_url != null) { %>
               <img class="user-profile-banner-image" src="<%= user.banner_image_url %>" alt="">
            <% } else { %>
               <% if (user.gender == 'male') { %>
                  <div class="user-profile-banner-image" style="background-color: rgb(44, 118, 179);" ></div>
               <% } else { %>
                  <div class="user-profile-banner-image" style="background-color: rgb(94, 179, 44);" ></div>
               <% } %>   
            <% } %>
               <img class="user-profile-image" src="<%= user.profile_image_url %>" width="200px" alt="">
            <h2 class="user-fullname">
               <%= user.first_name  %> <%= user.last_name  %>
            </h2>
         </div>
         <div class="about-me-container">
            <h3>About Me:</h3>
            <% if (user.description != null) { %>
               <p><%= user.description %></p>
            <% } else { %>
               <p>No Description...</p>
            <% } %>
         </div>
         <div class="socials-container">
            <h3>Socials:</h3>
            <div class="socials-data-container">
               <span class="following-data">
                  <i class="fa-solid fa-user-group"></i>
                  <span>
                     <b><%= user.followersCount %></b> 
                     <% if (user.followersCount != 1){ %> followers <% } else{ %> follower <% } %>
                  </span>
                  <span>
                     <b><%= user.followingCount %></b> 
                     following
                  </span>
                  <span>
                     <b><%= user.friendsCount %></b> 
                     <% if (user.friendsCount != 1){ %> friends <% } else{ %> friend <% } %>
                  </span>
               </span>
               <span class="user-email">
                  <i class="fa-solid fa-envelope"></i>
                  <span><%= user.email %></span>
               </span>
               <span class="user-phone">
                  <i class="fa-solid fa-phone"></i>
                  <span><%= user.phone_number %></span>
               </span>
            </div>
         </div>
         <div class="my-network-container">
            <h3>My Network:</h3>
            <ul class="connections-list">
               <% for (let i = 0; i < Math.min(4, user.connections.length); i++) { %>
                  <li>
                     <div class="connection-profile">
                        <img src="<%= user.connections[i].profile_image_url %>" alt="profile image">
                        <p class="connection-username"><%= user.connections[i].first_name %> <%= user.connections[i].last_name %></p>
                        <p class="connection-description"><%= user.connections[i].description %></p>
                     </div>
                  </li>
               <% }; %>
            </ul>
            <% if (user.connections.length == 0) { %>
               <div class="no-connections-container">
                  <p class="no-connections-message">No connections yet</p>
               </div>
            <% } else if (user.connections.length > 4) { %>
               <div class="show-more-container">
                  <button class="show-more-button">Show more</button>
               </div>
            <% } %>
         </div>
      </div>
   </aside>
   <main>
      <div class="create-post-container">
         <h2>Create New Post</h2>
         <div class="user-profile">
            <img class="user-profile-imge" src="<%= user.profile_image_url %>" alt="">
            <h3 class="username"><%= user.first_name %> <%= user.last_name %></h3>
         </div>
         <div class="create-post-main-input">
            <input class="title-input-field" name="post-title" id="post-title" placeholder="Post Title..."></input>
            <div class="description-container">
               <textarea class="description-input-field" name="post-description" id="post-description" placeholder="Post Description..." oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            </div>
         </div>
         <div class="create-post-footer">
            <div class="upload-buttons-container">
               <button class="image-upload-btn footer-button">
                  <i class="fa-solid fa-image"></i>
                  <p>Add Image</p>
               </button>
               <button class="video-upload-btn footer-button">
                  <i class="fa-solid fa-video"></i>
                  <p>Add Image</p>
               </button>
            </div>
            <div class="upload-button-container">
               <button class="publish-btn footer-button">
                  <p>Publish</p>
               </button>
            </div>
         </div>
      </div>
      <div class="post-container">
         <div class="post-header">
            <img class="author-profile-image" src="/assets/imgs/profile_images/user3.jpg" alt="">
            <h2 class="author-name">Liam Noam</h2>
            <p class="release-date">2 days ago</p>
         </div>
         <div class="post-main-content">
            <h2 class="post-title">Lorem ipsum dolor sit amet.</h2>
            <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio adipisci doloribus rerum, voluptates nemo, velit exercitationem eveniet quo accusantium fuga itaque est dicta labore consectetur voluptatibus facilis ad esse dignissimos, tempora aliquam veritatis libero sapiente. Cum molestias vitae voluptates magnam accusantium sunt amet, doloremque quod possimus ipsa assumenda debitis excepturi veniam accusamus repellendus ipsam. Qui cumque blanditiis eaque, numquam, aspernatur saepe delectus expedita dolor cum quaerat, fugiat incidunt deserunt quos. Obcaecati provident quia, quidem magnam cum consectetur pariatur tempore in deserunt, corporis laudantium nobis eum doloribus voluptas architecto quod. Consequatur soluta mollitia sequi vero maxime asperiores. Praesentium, numquam. Aspernatur, eos!</p>
            <img src="/assets/imgs/post_images/ai.jpg" alt="" class="post-image">
         </div>
         <div class="post-footer">
            <div class="reacts-container">
               <div class="views-container"><i class="fa-solid fa-eye"></i><p><b>325</b><span> views</span></p></div>
               <div class="likes-container"><i class="fa-regular fa-heart"></i><p><b>78</b><span> likes</span></p></div>
               <div class="comments-container"><i class="fa-regular fa-comments"></i><p><b>24</b><span> comments</span></p></div>
            </div>
         </div>
      </div>
      <div class="post-container">
         <div class="post-header">
            <img class="author-profile-image" src="/assets/imgs/profile_images/user2.jpg" alt="">
            <h2 class="author-name">Antonis Zikas</h2>
            <p class="release-date">1 day ago</p>
         </div>
         <div class="post-main-content">
            <h2 class="post-title">Lorem ipsum dolor sit amet consectetur.</h2>
            <p class="post-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore consequatur, nobis facilis odio cum aliquam voluptas, soluta illo earum accusantium reiciendis, vero facere? Ipsa nemo, eaque quasi consequatur praesentium omnis delectus saepe quos eligendi vero deserunt ut assumenda reprehenderit. Architecto laborum porro repellendus laudantium odit, ducimus quaerat. Nulla earum sequi quam delectus culpa eligendi at qui quis odio rerum et enim, possimus dicta cum accusantium eaque exercitationem perferendis odit amet fuga optio veniam autem! Architecto officiis mollitia quo culpa quibusdam adipisci et sed, doloremque iusto, tempora, impedit non ad qui. Cum, velit laboriosam! Dicta, iure quidem illo voluptatem maxime ipsum sequi ratione aliquam? Accusantium ut ipsam at harum rerum voluptate, doloremque vero inventore ullam quasi nulla fugit reprehenderit est culpa voluptatum aliquid odio distinctio dolor blanditiis nemo unde voluptates optio.</p>
            <img src="/assets/imgs/post_images/uoa.jpg" alt="" class="post-image">
         </div>
         <div class="post-footer">
            <div class="reacts-container">
               <div class="views-container"><i class="fa-solid fa-eye"></i><p><b>325</b><span> views</span></p></div>
               <div class="likes-container"><i class="fa-regular fa-heart"></i><p><b>78</b><span> likes</span></p></div>
               <div class="comments-container"><i class="fa-regular fa-comments"></i><p><b>24</b><span> comments</span></p></div>
            </div>
         </div>
      </div>
      <div class="post-container">
         <div class="post-header">
            <img class="author-profile-image" src="/assets/imgs/profile_images/user.jpg" alt="">
            <h2 class="author-name">James Elijah</h2>
            <p class="release-date">10 days ago</p>
         </div>
         <div class="post-main-content">
            <h2 class="post-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis totam esse fugiat, quibusdam laborum quaerat consequatur debitis modi vero repellat doloribus itaque quos commodi, aliquam accusantium porro illum? Laboriosam alias cumque, mollitia sunt maiores illo magnam a nisi rem sequi labore cum excepturi fugiat, perferendis iusto obcaecati non iste vitae.</p>
            <img src="/assets/imgs/post_images/group.jpg" alt="" class="post-image">
         </div>
         <div class="post-footer">
            <div class="reacts-container">
               <div class="views-container"><i class="fa-solid fa-eye"></i><p><b>482</b><span> views</span></p></div>
               <div class="likes-container"><i class="fa-regular fa-heart"></i><p><b>123</b><span> likes</span></p></div>
               <div class="comments-container"><i class="fa-regular fa-comments"></i><p><b>51</b><span> comments</span></p></div>
            </div>
         </div>
      </div>
   </main>
   <script type="text/javascript" defer>
      const navigationBar = document.getElementById("navigation-bar");

      function toggleNavigationBar() {
         navigationBar.classList.toggle('show');
      }
   </script>
</body>
</html>
